/*      PERFIL       */


.perfil div{
    position: absolute;
}
.perfil{
    display: flex;
    justify-content: center;
}

.caja{
    width: 500px;
    height: 500px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 60px;
    border-radius: 80%;
}

.circuloT{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    z-index: 19;
    opacity: .2;
    top: 90px;
}

.caja:hover{
    transform: scale(1.1);
}

.circuloP{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;
}

.perfil_img{
    top: 134px;
    z-index: 20;
}

.perfil_img img{
    width: 230px;
    height: 232px;
    border-radius: 50%;
}



