*{
    box-sizing:  border-box;
    padding: 0;
    margin: 0;
}
:root{  
    --primary: #3b2b83da;
    --secondary: whitesmoke;
    --secondary-light: rgb(173, 173, 173);
    --dark1:#222222;
    --dark2:#050505;
}

header{
    background-color: var(--dark2);
    position: sticky;
    top: 0;  
    z-index: 30;
    padding: 5px 0;
}

body{
    font-size: 18px;
    font-family: 'Space Mono' , sans-serif;
    color: var(--secondary);

/*    transition: all 0.4s;*/
}

/*      contenedor      */


.contenedor{
    background-color: var(--dark1);
}

.SContenedor h2{
    padding: 40px;
    text-align: center;
}

.GContenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.GContenedor img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.GContenedor img:hover{
    transform: scale(1.1);
}


/*      contenedor      */


.about{
    background-color: var(--dark2);
}

.about_flex{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 100px;
}

.about p{
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto;
    line-height: 2.5rem;
    color: var(--secondary-light);
}

.redes{
    border-left: var(--secondary) 5px solid;
    padding-left: 50px;
}

.redes img{
    width: 70px;
    margin:10px;    
}

.redes img:hover{
    transform: scale(1.2);
}



/*      FOOTER        */


footer{
    font-size: 1.2rem;
    background-color: var(--dark2);
    text-align: center;
    color: var(--secondary-light);
}

footer a{
    color: var(--primary);
    top: 490px;
    z-index: 11;
}



/*      CodigoProyecto        */


.proyecto{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 200px;
}

.proyecto a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    gap: 15px;
}

.proyecto img{
    width: 70px;
}

.proyecto img:hover{
    transform: scale(1.2);
}

.proyecto span:hover{
    color: var(--secondary);
}


